<%- include('partials/header'); -%>

<h1>Compose</h1>
<form class="" action="compose" method="post">
      <div class="form-group">
        <label for="titleArea">Title</label>
        <input type="text" class="form-control" id="titleArea" name="postTitle" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="postArea">Post</label>
        <textarea class="form-control" id="postArea" rows="3" name="postBody"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); -%>
