<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= startingContent %></p>

<% posts.forEach(function(post) { %>
    <h1><%= post.postTitle %></h1>
    <p><%= post.postBodyTruncated %> <a href="/post/<%= post._id %>">Read More</a></p>
<% }); %>

<%- include('partials/footer'); -%>
