
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: relative;
	text-align: center;
    padding: 30px;
	background-color: #1abc9c;
    margin: 0;
}

.footer p {
	font-size: 12px;
    color: #fff;
    margin: 0;
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 16px;
}
